<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> </title>
    <th:block th:include="fragments/head :: head"></th:block>
</head>
<body>
<th:block th:include="fragments/header :: body"></th:block>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <!--<div class="container">-->
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading" th:text="${'Czy usunąć numer telefonu kontaktu ' +
                number.contact.firstName + ' ' + number.contact.lastName + '?'}"></div>
                <div class="panel-body">

                    <div class="form-group">
                        <label for="inputNumber">Numer telefonu</label>
                        <input type="text" class="form-control" id="inputNumber" placeholder="Numer telefonu" th:field="*{number.number}" disabled="disabled" name="number"  />
                    </div>

                    <div class="form-group">
                        <label for="inputType">typ</label>
                        <input type="text" class="form-control" id="inputType" placeholder="typ" th:field="*{number.type}"  disabled="disabled" name = "type"/>
                    </div>




                </div>
                <div class="panel-footer">



                    <form th:action="@{/numbers/delete}" method="POST">
                        <div class="text-right">
                            <input id = "id" name = "id" type="hidden" th:value="*{number.id}"   />
                            <a th:href="@{'/contacts/view/'+${number.contact.id}}" class="btn btn-default">Anuluj</a>
                            <button type="submit" class="btn btn-danger">USUŃ</button>
                        </div>
                    </form>



                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>
<th:block th:include="fragments/js :: body"></th:block>

</body>
</html>