<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kontakty - Dodaj Grupę</title>
  <th:block th:include="fragments/head :: head"></th:block>
</head>
<body>
  <th:block th:include="fragments/header :: body"></th:block>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <!--<div class="container">-->
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading" th:text="${'Numer telefonu konaktu ' + number.contact.firstName + ' '
                 + number.contact.lastName}"></div>
                <div class="panel-body">
                    <form action="/groups/edit" th:action="${'/numbers/edit/'}" method="post">
                        <input type="hidden" th:field="*{number.id}" name="id" />
                        <div class="form-group">
                            <label for="inputNumber">Numer telefonu</label>
                            <input type="text" class="form-control" id="inputNumber" placeholder="Numer telefonu" th:field="*{number.number}"  name="number"  />
                        </div>
                        <div class="form-group">
                            <select name="type" class="form-control">
                                <option th:value="${number.type}" th:text="*{number.type}"></option>
                                <option th:each="type : ${types}" th:value="${type}" th:text="*{type}"></option>
                            </select>
                        </div>
                        <div class="text-right">
                            <a th:href="${'/contacts/view/'+number.contact.id}" class="btn btn-default">Anuluj</a>
                            <button type="submit" class="btn btn-primary">Zapisz</button>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>
 <th:block th:include="fragments/js :: body"></th:block>

</body>
</html>