<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kontakty</title>
 <th:block th:include="fragments/head :: head"></th:block>
</head>
<body>
  <th:block th:include="fragments/header :: body"></th:block>
<div class="container">
    <div class="starter-template">
        <h1>Kontakty</h1>
        <p class="lead">Aplikacja Spring Boot + JPA + Thymleaf<br />
            CRUD + OneToMany, ManyToOne, ManyToMany<br />
            W przyszłości rozbudowa o SpringSecurity oraz niezależne bazy kontaktów dla różnych urzytkowników <br />
            <a href="/contacts" class="btn btn-primary btn-lg">Kontakty</a>
        </p>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/js :: body"></th:block> /*/-->
</body>
</html>